h2{
    font-size: 3rem;
    text-align: center;
}
.contenedor__productos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contenedor__producto{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        border: 4px solid #D9BCA9;
        border-radius: 15px;
        height: 400px;
        width: 400px;
        
        img{
            width: 50%;
            height: 50%;
        }
    }
}
